<div class="row animated fadeIn fast">
    <div class="col-md-10">
        <h4 class="card-title">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Gastos mensuales</font>
            </font>
        </h4>
        <div class="card">
            <div class="card-body">
                <form (submit)="cargarGastosPorMes()">
                    <div class="">
                        <div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de inicio</font></font></label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" placeholder="aaaa-mm-dd" name="fechaInicial" [(ngModel)]="fechaInicial">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de fin</font></font></label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" placeholder="aaaa-mm-dd" name="fechaFinal" [(ngModel)]="fechaFinal">
                                </div>
                            </div>
                            <button class="btn btn-info der"><i class="fa fa-search"></i> Buscar gastos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-10">
        <tr>
            <th>Total de gastos</th>
        </tr>
    </div>
    <div class="text-right">
        <th> {{totalGasto2() |currency}}</th>
    </div>
</div>

<div class="card card-body animated fadeIn fast">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="w150">Fecha</th>
                    <th>Descripción</th>
                    <th class="w20"></th>
                    <th class="w120">Importe</th>
                    <th class="text-nowrap w100">Acciones</th>
                </tr>
            </thead>
            <tbody class="animated fadeIn fast">
                <tr *ngFor="let gasto of data">
                    <td>
                        <input type="text" class="form-control" placeholder="Fecha" [(ngModel)]="gasto.fecha">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Descripción del gasto" [(ngModel)]="gasto.descripcion">
                    </td>
                    <td>$</td>
                    <td>
                        <input type="number" class="form-control" placeholder="Importe" [(ngModel)]="gasto.importe">
                    </td>
                    <td class="text-nowrap text-center">
                        <a (click)="guardarCambios(gasto)" data-toggle="tooltip" title="Guardar cambios" class="cursor"> <i class="fa fa-floppy-o text-inverse m-r-10"></i> </a>
                        <a (click)="eliminarGasto(gasto)" data-toggle="tooltip" title="Borrar" class="cursor"> <i class="fa fa-close text-danger"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>