<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario por nombre de cliente" (keyup)="buscar(txtTermino.value)" #txtTermino/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>



<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-9">
                        <h4 class="card-title">Total de clientes ({{totalClientes}})</h4>
                        <h6 class="card-subtitle">Clientes registrados en Envíos Ok!</h6>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-info" (click)="abrirModalCliente()">
                         
                            <i class="fa fa-user-circle-o"></i>
                            Crear nuevo cliente
                        </button>
                    </div>
                </div>
                <hr>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th>Domicilio</th>
                                <th>Observaciones</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.dni}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.domicilio}}</td>
                                <td>{{cliente.observaciones | slice:0:35}}</td>
                                <td class="text-nowrap text-center">
                                    <!-- <a (click)="abrirModalPerfil(usuario)" class="cursor" data-toggle="tooltip" title="Ver contacto"> <i class="fa fa-user-o text-info"></i>&nbsp;&nbsp;&nbsp;</a> -->
                                    <a [routerLink]="['/dashboard/clientes', cliente._id]" class="cursor" data-toggle="tooltip" title="Datos del cliente"> <i class="fa fa-user-o text-info">&nbsp;&nbsp;&nbsp;&nbsp;</i> </a>
                                    <a data-toggle="tooltip" title="Borrar" class="cursor" (click)="eliminarCliente(cliente)"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">

                    <button (click)="cambiarPagina(-50)" [disabled]="deshabilitar1()" Class="btn btn-secondary">Anterior</button>&nbsp;
                    <button (click)="cambiarPagina(50)" [disabled]="deshabilitar2()" Class="btn btn-secondary">Siguiente</button>

                </div>

            </div>
        </div>
    </div>
</div>